<div class="container-fluid profile-overview" style=" background: url('./assets/background_5.jpg');">
    <div class="row">
        <div class="col">
            <img style="height: 10em;border-radius: 50%;" src="./assets/profile.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Ashok Kuduva Ananthan</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Software Engineer, Full-Stack Developer </h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>I'm a Full stack Software engineer with 7.5 years of experience. Working in .NET Core, Web API, Angular
                and Azure.</h5>
        </div>
    </div>


</div>