<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 card-top" *ngFor="let skill of skills">
            <mat-card>
                <mat-card-header>
                    <mat-card-title><span>{{skill.title}}</span></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-2 sub-skill-container" *ngFor="let subSkill of skill.subSkills">
                            <img [src]="subSkill.icon" class="skill-logo">
                            <span class="skill-name">{{subSkill.title}}</span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>