/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-top {
    margin-top: 20px !important;
}

.mat-mdc-card-title {
    color: white !important;
}

.mat-mdc-card-content{
    color: white !important;
    padding-top: 10px !important;
}